body {
	font-family: Georgia, sans serif;
	background: #686868;
	}

h1 {
	color: #ccccff;
	text-align: center;
	}

p {
font-size: 20px;
color: #9999ff;

}

/*img{
	float: auto;
	margin: auto;
	border-radius: 20px 20px 20px 20px;
	
}*/

footer{
	height: 20px;
	text-align: center;
	border-radius: 10px 10px 10px 10px; 
}
footer p{
	color: #ffffff;
}

.intro-pic {
	text-align: center;
	margin: 20px 0 0 0;
	border-radius: 20px 20px 20px 20px;
}

#container {
	width: 880px;
	margin: center;
}

.intro {
	background-color: #d3d3d3;
    max-width: 500px;  
    padding: 5px 10px 5px 5px;
	border-radius: 20px 20px 22px 20px;
	float: right;
	margin: auto;
	margin-right: -280px;	
	overflow: hidden;
	
}