@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size:50px;
	margin:auto;
	width:800px;
	padding-bottom: 50px;
	padding-top: 50px;
}

.insta-photos {
	width: 800px;
	margin:auto;
	padding:50px;
}