body{
	font-family: "Tahoma";
	width: 600px;
	
	padding: 25px;
	margin: 50px auto auto auto;
	
}
h2{
	text-align: center;
	text-transform: uppercase;
	background: #00cccc;
}
#intro {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	border: 2px solid #660099;
	border-radius: 45px 0 45px 0;
}		
#hobby {
	float: left;
}
#hobby_pic {
	float: left;
	padding-right:25px;
	padding-bottom: 50px;
}
#list-title {
	text-decoration: underline;
	color: #ff66ff;
}
